body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

.mensaje {
    background-color: #fff;
    border: 2px solid #4caf50;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    font-size: 20px;
    color: #333;


}
